* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    background: black;
}
main {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: row;
}
.game{
    position: relative;
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.back{
    position: relative;
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.next{
    position: relative;
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.arrow{
    margin: 0 5vh;
    transform: scale(.3);
    cursor: pointer;
}
.arrow:hover{
    animation: hover 2s ease-in-out infinite;
}
@keyframes hover {
    0% {transform: scale(.3);}
    50% {transform: scale(.45);}
    100% {transform: scale(.3);}
}

button{
    cursor: pointer;
}



/*span {
    animation: dot 2s ease-in-out infinite .5s;
}
@keyframes dot{
    from {opacity: 0;}
    to {opacity: 1;}
}

.start-display {
    background: black;
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: start 0.5s ease forwards 4.5s;
}
@keyframes start{
    to {visibility: hidden;}
}

/*SVG animation*/
/*#logo path:nth-child(2){
    stroke-dasharray: 100%;
    stroke-dashoffset: 0%;
    animation: logo-animation 3s ease forwards 1.0s;
}

#logo path:nth-child(3){
    stroke-dasharray: 100%;
    stroke-dashoffset: 0%;
    animation: logo-animation 3s ease forwards 1.3s;
}

#logo path:nth-child(4){
    stroke-dasharray: 100%;
    stroke-dashoffset: 0%;
    animation: logo-animation 3s ease forwards 1.6s;
}

#logo path:nth-child(5){
    stroke-dasharray: 100%;
    stroke-dashoffset: 0%;
    animation: logo-animation 3s ease forwards 1.9s;
}

#logo path:nth-child(6){
    stroke-dasharray: 100%;
    stroke-dashoffset: 0%;
    animation: logo-animation 3s ease forwards 2.2s;
}
#logo path:nth-child(7){
    stroke-dasharray: 200%;
    stroke-dashoffset: 0%;
    animation: logo-animation2 3s ease forwards 2.5s;
}
#logo path:nth-child(8){
    stroke-dasharray: 100%;
    stroke-dashoffset: 0%;
    animation: logo-animation 3s ease forwards 2.8s;
}
#logo path:nth-child(9){
    stroke-dasharray: 200%;
    stroke-dashoffset: 0%;
    animation: logo-animation2 3s ease forwards 3.1s;
    
}
#logo path:nth-child(10){
    stroke-dasharray: 100%;
    stroke-dashoffset: 0%;
    animation: logo-animation 3s ease forwards 3.4s;
}

@keyframes logo-animation{
    to {stroke-dashoffset: 100%;}
}
@keyframes logo-animation2{
    to {stroke-dashoffset: 200%;}
}*/


/* .shape{
    position: relative;
    width: 38px;
    height: 38px;
    background: linear-gradient(202.17deg, #FF01D6 8.58%, #FF4D00 91.42%);
    border: solid;
    border-color: white;
    border-radius: 50%;
    margin: 5vh;
    visibility: hidden;
} */